.profile-view {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form-profile {
    .favourite-movies {
      color: blue;
      &:hover {
        cursor: pointer;
      }
      .movie-list-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 0 20px;
        color: black;
        .fa-trash-alt {
          color: red;
        }
      }
    }
  }
}
