.movie-description {
  margin-top: 120px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .movie-list {
    margin-bottom: 100px;
    padding: 20px;
  }
}
